$linkColor:             #267326;
$monoFontFamily:        "Andale Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
$baseFontFamily:        $monoFontFamily;
@import "compass_twitter_bootstrap";

div {
  margin-top: 48px;
  max-width: 900px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 36px;
  color: #262673;
  margin: 24px;
}

ul.inline, ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
